@import "tailwindcss";

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* color: #cf9019; */
    color: #111;
    background-color: #eee;
}

#userSidebar .active{
    background-color: #155DFC;
    color:white;
    font-weight: 500;

    
}